.btn-volver-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.btn-volver {
  background-color: #210336;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-volver:hover {
  background-color: #e67e22;
}